*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #10000a;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

section {
  position: relative;
  padding: 80px 20px;
}

section::before,
section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
  z-index: 1;
}



@media (min-width: 768px) {
  section {
    padding: 110px 60px;
  }
}
